<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui stackable top menu">
    <div class="item">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrG9dW71SbmugcONWa5FoMiOlgEIX2REVaYg&usqp=CAU"
      />
    </div>
    <a class="item" routerLink="start">Start</a>
    <a class="item" routerLink="flightres">Rezerwuj</a>
    <div class="right menu">
      <div class="item">
        <div (click)="loginNav()" class="ui primary button">{{  loginBtn() }}</div>
      </div>
    </div>
  </div>

  <div class="ui middle aligned centered grid myBackGround viewH">

    <div class="ui centered grid">

      <div class="column">
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</div>
